@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --text-color-rgb: rgb(5, 5, 5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(92, 92, 92);
    --text-color-rgb: rgb(250, 250, 250);
  }
}

html{
  /* default font family system */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}